@import "vendor/font-awesome.min.css";

@import "mixins.css";
@import "layout.css";
@import "components.css";

.filters {
  margin-bottom: 10px;
}

.filters .btn {
  font-size: 14px;
  margin-right: 20px;
}

.video-list .video {
  width: calc(33.3% - 20px);
  float: left;
}
