/* Btn */
.btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 10px;
  color: #3b393a;
}

.btn-default {
  background: #f5f5f5;
  border-radius: 3px;
}

.btn-primary {
  color: white;
  background: #b13d48;
  border-radius: 3px;
}

/* Label */
.label {
  font-size: 10px;
  background: #f5f5f5;
  padding: 3px 10px;
  border-radius: 3px;
}

.label-primary {
  background: #b13d48;
  color: white;
}

/* Box */
.box {
  background: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, .25);
  padding: 10px;
}

.box__title {
  margin: 0 0 10px;
  text-transform: uppercase;
  color: #b13d48;
}

/* Video */
.video {
  margin: 10px;
  position: relative;
  height: 320px;
  border-bottom: 2px solid #b13d48;
}

.video:after {
  content: '';
  display: table;
  clear: both;
}

.video__image {
  position: relative;
}

.video__image img {
  width: 100%;
  height: 125px;
}

.video__image .channel-data {
  position: absolute;
  left: 5px;
  bottom: 10px;
}

.video__image .channel-data .label {
  margin-right: 5px;
}

.video__btns {
  position: absolute;
  bottom: 5px;
  right: 0;
}

.video__desc {
  max-height: 100px;
  overflow: hidden;
  margin-bottom: 10px;
}

/* Modal */
.modal {
  width: 500px;
  padding: 10px;
  background: white;
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.modal .close.btn {
  font-size: 18px;
}

.modal__title {
  margin: 0 0 10px;
}
.modal-backdrop {
  background: rgba(0, 0, 0, .25);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


/* data list */
dl.horizontal dt {
  float: left;
  width: 70px;
  font-weight: bold;
}

dl.horizontal dd {
  margin-left: 70px;
}
