* {
  box-sizing: border-box;
}

body {
  margin: 30px 0 0;
  background: #f5f5f5;
  color: #3b393a;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

.container {
  width: 980px;
  margin: 0 auto;
}

.video-list-container {
  width: 650px;
}

.watch-list-container {
  width: 300px;
}
